<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .green {
        color: green;
      }
      .blue {
        color: blue;
      }
      .purple {
        color: purple;
      }
      .gray {
        color: gray;
      }
    </style>
  </head>
  <body>
    <!-- {% if month in [12,1,2]%}
    <p style="color: grey">겨울</p>
    {% elif month in [3,4,5]%}
    <p style="color: green">봄</p>
    {% elif month in [6,7,8]%}
    <p style="color: blue">여름</p>
    {% else %}
    <p style="color: purple">가을</p>
    {%endif%} -->
    <p class="{{style}}">{{season}}</p>
  </body>
</html>
