<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--
        input 요소 : form안에서 사용 
        type으로 모양이 달라진다.
        text, password, number, date, file
        여러개 중의 하나 - select
        name은 select에 준다.
        선택했을 때의 값은 
        option에 value라는 속성이 없으면 글자

        value값이 넘어간다. 글자가 너무 길면 힘드니까. value 값을 지정해서 그 값을 보낸다.
    -->
    <form action="/month" method="post" name="month">
      <select name="month">
        <option disabled selected>월을 선택하세요</option>
        <!-- disabled 비활성화 -> 선택을 못하게 한다. 
                selected -> 선택하게 한다. 
        -->
        <option value="1">1월</option>
        <option value="2">2월</option>
        <option value="3">3월</option>
        <option value="4">4월</option>
        <option value="5">5월</option>
        <option value="6">6월</option>
        <option value="7">7월</option>
        <option value="8">8월</option>
        <option value="9">9월</option>
        <option value="10">10월</option>
        <option value="11">11월</option>
        <option value="12">12월</option>
      </select>
      <button>전송</button>
    </form>
  </body>
</html>

<!-- form이 하나면 굳이 이름을 적지 않아도 된다. select에는 이름을 줘야한다. 
    만약 form이 여러개면 name을 붙여야한다. -->