<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- static의 main.css를 주려면 link ~를 줘야한다. -->
  </head>
  <body>
    <div id="app">
      <form action="name" method="post">
        <label for="이름">이름</label>
        <input type="text" placeholder="이름" name="name" />
        <button class="btn btn-outline-primary">입력</button>
      </form>
    </div>
  </body>
</html>
