<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/write" , method="post">
      <label for="title">제목</label>
      <input type="text" name="title" placeholder="제목 작성" />
      <label for="nickname">닉네임</label>
      <input type="text" name="nickname" placeholder="작성자 작성" />
      <textarea name="content" cols="30" rows="10" placeholder="내용 작성"></textarea>
      <button>저장</button>
    </form>
  </body>
</html>
